.page-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  animation: fade-in 300ms linear 0s 1 normal none running;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}