body {
  /* spacings */
  --header-height: 80px;
  --sidebar-width: 300px;

  /* COLORS */
  --color-gray-extra-light: #eaeaea;
  --color-gray-100: #eceff1;
  --color-gray-200: #ccc;
  --color-gray-300: #999;
  --color-gray-medium: #666;
  --color-gray-dark: #333;
  --color-blue-light: #61dafb;
  --color-blue-medium: #0075c4;
  --color-blue-dark: #3c424e;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: var(--color-gray-dark); 
}

h1 {
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.1em;
  text-overflow: ellipsis;
}

h2 {
  font-size: 1.4em;
  font-weight: 500;
}

h3 {
  font-size: 1.2em;
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: var(--color-blue-medium);
}

.label {
  line-height: 1em;
  font-size: .95em;
  text-align: center;
  background: white;
  padding: 3px 5px;
  border-radius: 4px;
  color: var(--color-blue-medium);
  border: solid 1px var(--color-gray-200);
}

.highlight {
  color: var(--color-blue-medium);
}

/* Error Boundary */

.error-boundary {
  padding: 10px;
  border-radius: 4px;
  background-color: var(--color-gray-extra-light);
  border: solid 1px #b1b1b1;
}

.error-boundary h2 {
  font-weight: 700;
  font-size: 1.2em;
  color: crimson;
  margin-bottom: 15px;
}

/* Images */

img[loading="lazy"] {
  opacity: 0;
  transition: opacity 200ms linear, transform 200ms ease-out;
}

img[loading="lazy"].loaded {
  opacity: 1;
}

.card {
  border-radius: 5px;
  position: relative;
  border: solid 1px var(--color-gray-200);
  padding: 10px;
}

/* Layout */

main {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    'head head'
    'aside main';
  grid-template-rows: var(--header-height) minmax(max-content, calc(100vh - var(--header-height)));
  grid-template-columns: 0 1fr;
}

@media only screen and (min-width: 950px) {
  main {
    grid-template-columns: var(--sidebar-width) 1fr;
  }
}

#header {
  grid-area: head;
  display: flex;
  background-color: var(--color-blue-dark);
  min-height: var(--header-height);
  align-items: center;
  justify-content: flex-start;
  font-size: 32px;
  color: var(--color-blue-light);
}

#header > .logo {
  margin: 0 20px;
  fill: black;
  filter: invert();
  opacity: .8;
}

#sidebar {
  padding: 20px;
  visibility: hidden;
  background-color: var(--color-gray-100);
  border-right: solid 1px var(--color-gray-200);
}

@media only screen and (min-width: 950px) {
  #sidebar {
    visibility: visible;
  }
}

#page {
  position: relative;
  padding: 20px;
}

#page > header > h2 {
  margin-bottom: 20px;
}

/* Sidebar */

#sidebar-menu {
  position: sticky;
  top: 20px;
}

#sidebar-menu ul {
  border-top: solid 1px #d1c1c1;
}

#sidebar-menu li {
  border-bottom: solid 1px #d1c1c1;
}

#sidebar-menu li > a {
  display: block;
  padding: 15px 0;
  font-size: 1.1em;
  text-decoration: none;
  color: var(--color-gray-medium);
}

#sidebar-menu li > a:hover,
#sidebar-menu li > a.active {
  color: var(--color-gray-medium);
  font-weight: 700;
}


#sidebar-menu li > a.active {
  border-right: solid 4px var(--color-blue-light);
}

/* Page loader */

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  animation: fade-in 300ms linear 0s 1 normal none running;
  z-index: 99999;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}